@font-face {
    font-family: HeroTitleFont;
    src: url(GreatVibes-Regular.ttf);
}
@font-face {
    font-family: navFont;
    src: url(Arizonia-Regular.ttf);
}
html
{
    scroll-behavior: smooth;
}
body
{
    height: 200vh;
    margin: 0;
    padding: 0;
    background-color: #1A1A1C;
}

.x
{
    z-index: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: absolute;
}
.x video
{
    width: 100%;
    align-self: center;
}
header
{
    background-size: cover;
    background-position-y: 100%;
    
    width: 100%;

}
header #top
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    
    backdrop-filter: blur(0px);
}
header #herotext
{

    width: 40%;
    display: flex;
    justify-content: center;
}
header #herotext h1
{
    user-select: none;
    margin-left: 10%;
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-family: HeroTitleFont;
}
header #heroimage
{
    user-select: none;
    cursor: pointer;

    width: 40%;
    margin-right: 9%;
}
header #heroimage img
{
    width: 100%;
    transition-duration: 400ms;
}  

header #heroimage img:hover
{
    margin-left: -9%;
    width: 120%;
}
nav
{
    width: 100%;
    background-color: #1A1A1C;
}

nav ul
{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
nav li
{
    padding: 10px 0;
}
nav a
{
    text-decoration: none;
    padding: 15px 0;
    font-size: 40px;
    color: gray;
    font-family: navfont;

    transition: color 400ms, text-shadow 400ms;
}

nav a:hover
{
    color: rgb(219, 5, 5);
    text-shadow: rgb(10, 7, 0) 0 0 12px;
}

.return
{
    position: fixed;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    margin: 15px;
    border-radius: 100%;
    border: 3px solid rgb(2, 2, 2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 400ms;
    background-image: url(background\ \ thunder\ 1.jpg);
}
.return a
{
    margin-bottom: 3px;
    padding: 14px 16px;
    width: 10%;
    color: rgb(37, 35, 138);
    font-size: 40px;
    text-decoration: none;
    transition-duration: 400ms;

}
.return a:hover
{
    color: blue;
    text-shadow: blue 0 0 12px;
    
}
.return:hover
{
    box-shadow: blue 0 0 12px;
    border-radius: 10px;
}

.loading
{
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: HeroTitleFont;
    color: blue;
    font-size: 48px;
}
.loadingHide
{
    opacity: 0;
    transition-duration: 1000ms;
    transition-delay: 1000ms;
}
.loadingDelete
{
    display: none;  
}

.container
{
    margin: 0 4%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    justify-content: space-around;
}

.card
{
    border-left: #C3083F solid 2px;
    border-right: #C3083F solid 2px;
    text-align: center;
    color: #f1efef;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
}

.card h1
{
    margin: 10px 0 5px 0;
}
.card p
{
    margin: 0 0 20px 0;
    color: #f5e8e8;
}

.cardImg img
{
    border-radius: 10px 10px 0 0;
    width: 100%;
}


      

.wrapper,
.single-card{
height: 450px;
max-width: 300px;
margin: auto;
position: relative;
}
.wrapper{
perspective: 900px;
}
.single-card{
text-align: center;
transition: all 1.5s cubic-bezier(0.7,-.5,0.3,1.8);
transform-style: preserve-3d;
}
.wrapper:hover .single-card{
transform: rotateY(180deg);
}
.front, .back{
width: 300px;
position: relative;
top: 0;
left: 0;
backface-visibility: hidden;
}
.front{
cursor: pointer;
height: 100%;
background-image: url(pagani\ horacio.jpg);
backface-visibility: hidden;
border-radius: 50px;
background-size: cover;
background-position: center center;
}
.back{
transform: rotateY(180deg);
position: absolute;
border-radius: 50px;
height: 450px;
background: #fff;
}
.content{
padding-top: 25%;
}
.content h2{
font-family: HeroTitleFont;
font-size: 35px;
margin: 0;
font-weight: 300;
color: black;
}
.content p{
font-family: navFont;
font-size: 20px;
margin: 0;
}
.vid video
{
    height: 100vh;
    width: 300%;
}
#History
{
    border-radius: 100px;
    border: solid black 10px;
    transition-duration: 400ms;
}
#History:hover
{
    border: solid red 10px;
    transition-duration: 400ms;
}
.home.png{
    width: 100px;
    justify-content: space-between;
}
